<div *ngIf="showView">
  <div class="title__content">
    <h1 class="mat-title">Queremos conocerte mejor</h1>
    <p color="accent" class="mat-subheading-1">
      Completa los siguientes campos que serán necesarios para abrir tu Cuenta Digital BHD León
    </p>
  </div>
  <mat-divider *ngIf="topName" style="position: unset"></mat-divider>

  <form [formGroup]="fg" name="workItem">
    <app-group
      [groups]="groups$"
      [formGroup]="fg"
      [CaseID]="CaseID"
    ></app-group>
  </form>
</div>
